.page-header
{
    padding-top: 2px;
    padding-bottom: 20px;
    color: #ffffff;
}

/*######################################################################################################################
######################################## FLASH MESSAGE #################################################################
######################################################################################################################*/
.flash-msg
{
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
}

.flash-msg-success
{
    background: #4caf50;
}

/*######################################################################################################################
######################################## ANIMATIONS ####################################################################
######################################################################################################################*/
.moveUp, .moveLeft, .moveRight
{
    transition: transform .3s ease-out;
    display: inline-block;
}

.moveUp:hover
{
    transform: translate(0, -5px);
}

.moveLeft:hover
{
    transform: translate(-5px, 0);
}

.moveRight:hover
{
    transform: translate(5px, 0);
}




